@use "../abstracts" as *;

.main-menu {
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1;
  color: $color-default-black;

  @include caps-text;

  @media #{$mobile} {
    text-align: center;
    border-bottom: $line-whisper-e6;
  }

  @media #{$tablet-desktop} {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 34px;
    font-size: 18px;
    line-height: 24px;
  }

  @media #{$desktop} {
    font-size: 20px;
    line-height: 1.5;
    color: $color-black;

    &--accent {
      color: $color-default-white;
    }
  }
}

.main-menu__item {
  @media #{$mobile} {
    padding: 0 20px;
    border-top: $line-whisper-e6;
  }
}

.main-menu__link {
  position: relative;
  display: block;
  padding: 22px 20px 23px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media #{$tablet-desktop} {
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid transparent;
    }

    &--current::after {
      border-bottom-color: $color-accent;
    }
  }

  @media #{$desktop} {
    &::after {
      bottom: 2px;
    }

    .main-menu--accent &--current::after {
      border-bottom-color: inherit;
    }
  }
}
