@mixin font-face($family, $name, $postfix: "regular", $weight: 400) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/#{$name}/#{$name}-#{$postfix}.woff2") format("woff2"),
      url("../fonts/#{$name}/#{$name}-#{$postfix}.woff") format("woff");
  }
}

@include font-face("Lato", "lato");
@include font-face("Oswald", "oswald");
