@use "./variables" as *;

@mixin caps-text {
  font-family: $font-primary;
  text-transform: uppercase;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin interactive-80 {
  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin interactive-60 {
  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin divider($top, $border-color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: $top;
    left: 0;
    width: 100%;
    border-top: 1px solid $border-color;
  }
}
