// Fonts
$font-primary: "Oswald", "Arial Narrow", sans-serif;

// Colors
$color-default-white: #ffffff;
$color-dark-grey: #444444;
$color-nero: #222222;
$color-black: #111111;
$color-default-black: #000000;
$color-bg-basic: #f2f2f2;
$color-bg-alter: #eaeaea;
$color-border-basic: #cdcdcd;
$color-border-alter: #e7e7e7;
$color-divider-basic: #d9d9d9;
$color-whisper-e6: #e6e6e6;
$color-divider-special: #ebebeb;
$color-accent: #68b738;
$color-accent-85: rgba($color-accent, 0.85);

// Other
$border-basic: 1px solid $color-border-basic;
$divider-basic: 1px solid $color-divider-basic;
$line-whisper-e6: 1px solid $color-whisper-e6;
$divider-special: 1px solid $color-divider-special;
$overlay-accent: linear-gradient($color-accent-85, $color-accent-85);

// Viewports
$tablet-width: 768px;
$desktop-width: 1240px;
$mobile: "(max-width: #{$tablet-width - 0.02})";
$tablet-desktop: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

:root {
  --page-bg-color: #{$color-default-white};
}
